{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body> 
    
    <div class="row">
    <h1>Home page</h1>

    <div class="col-lg">
    <img src="{% static 'images/image1.jpeg' %}" alt="image1">

    {% for i in data %}

    <p>{{i.name}}</p> <span>{{i.price}}</span>

    {% endfor %}
    </div>
    </div>
</body>
</html>