{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates soluta perferendis ut quis ratione porro pariatur quisquam est inventore obcaecati odio totam aliquid dolor tempora architecto sunt, tempore animi veritatis?</p>
    
    <img src="{% static 'images/image1.jpg' %}" alt="">
  
</body>
</html>